// common elements

.container {
	box-sizing: border-box;
	margin: 0 55px;
	padding: 0 7rem;
	&--gray {
		background-color: $gray-4;
	}
	&--white {
		background-color: #fff;
	}
}

.title-h4, .title-h2, .title-usual, .link-2, .menu-item, .button{
	font-family: f_font;
	text-transform: uppercase;	
}

.title-h1 {
	font-size: 1.64706rem;
	line-height: 3.31765rem;
} 
.title-h2 {
	font-size: 4.47059rem;
	line-height: 7.41176rem;
	letter-spacing: -0.0558824rem;
	color: #fff;
}
.title-h4 {
	font-size: 2.11765rem;
	line-height: 2rem;
	color: $gray-2;
}
.title-usual {
	font-size: 1.05882rem;
	line-height: 2rem;
	color: $gray-2;
}
.small-text {
	line-height: 1.11176rem;
	font-size: 0.764706rem;
	color: $gray-3;
}
.link-1 {
	border-bottom: 2px solid $blue;
	&:hover {
		color: $blue;
	}
}
.link-2 {
	letter-spacing: 0.0941176rem;
	font-size: 0.647059rem;
	color: $blue;
	&:hover {
		color: $blueHover;
	}
}
.nicescroll-cursors {
	will-change: transform;
}

.body-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.menu {
    z-index: 10;
    position: fixed;
    left: 0;
    bottom: 0;
    // right: 0;

    // max-width: 27.9412rem;
    // width: 100%;    
    top: 0;
    &--open {
    	.menu__nav {
    		transform: translateX(0);
    	}
    	.menu__icons svg, .header__title {
			color: $gray-4;
			stroke: $gray-4;
			opacity: 1 !important;
    	}
    }
	&__icons {
		position: absolute;
		left: 13px;
		top: 34px;
		width: 30px;
		height: 14px;
		cursor: pointer;
		transition: none;
		z-index: 1;
		svg {
			stroke: $gray-2;
		}
		&:hover {
			opacity: .8;
		}
	}
	&__icon-item-close {
		margin-top: 3px;
		margin-left: 5px;
		svg {
			width: 18px;
		}		
	}
	&-item {
		font-size: 2.11765rem;
		line-height: 2rem;
		color: $gray-4;
		cursor: pointer;
		&:last-of-type {
			margin-bottom: 5.05882rem;
		}
		&:hover {
			color: #fff;
		}
	}	
	&__nav {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: $gray-2;
	    width: 27.9412rem;
	    // width: 100%;
	    height: 100vh;		
	    z-index: 0;
	    transition: 0.5s;
	    will-change: transform;
	    box-sizing: border-box;
	    padding-top: 7rem;	    
	    padding-left: 2.41176rem;
	    transform: translateX(-100%);
	    background-color: $gray-2;
	    // &:after {
	    // 	content: '';
	    // 	position: absolute;
	    // 	left: -49.5vw;
	    // 	top: 0;
	    // 	bottom: 0;
	    // 	background-color: $gray-2;
	    // 	width: 50vw;

	    // }
	}
}

.nav {
	&__social {
			display: flex;
		&-link {
			margin-right: 0.705882rem;
			svg {
				width: 30px;
				height: 30px;				
			}
		}
	}	
}
.mobile-bg {
	display: none;
}
.button {

// html
// <a  class="button" href="">
// 	next
// 	<span class="button__arrow" v-html="btn_arrow"></span>
// </a>

	color: $blue;
	padding: 1.17647rem 4.41176rem 0.88rem;
	box-sizing: border-box;
	display: inline-flex;
	font-size: 0.647059rem;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	box-shadow: 0px 23px 20px -18px rgba(0, 0, 0, 0.13);
	position: relative;
	letter-spacing: 0.0941176rem;
	cursor: pointer;
	transition: 0.3s;
	&__arrow {
		display: block;
		position: absolute;
	    top: 20px;
	    right: 32px;
	    transition: 0.3s;
		svg {
			width: 8px;
			height: 8px;
		}
	}
	&:hover {
		color: $blueHover;
		box-shadow: 0px 23px 35px -18px rgba(0, 0, 0, 0.2);
		.button__arrow {
			transform: translateX(4px);
		}
	}
	&--reverse {
		&:hover {
			.button__arrow {
				transform: translateX(-4px) rotate(180deg);
			}
		}
		.button__arrow {
			right: auto;
			left: 32px;
			transform: rotate(180deg);
			top: 18px;
		}
	}	
}

.footer {
	position: relative;
	width: 100%;
    margin-top: auto;
	&:after {
		content: '';
		background-color: $gray-4;
		// left: -50vw;
		// right: -50vw;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		z-index: -1;
	}
	&__wrapper {
		max-width: 1600px;
		width: 100%;
		margin: 0 auto;
	}
	&__container {
		padding-left: 5.41176rem;
		padding-right: 0;
		padding-top: 3.35294rem;
		padding-bottom: 40px;
		display: flex;
		justify-content: space-between;

	}
	&__copy {
		font-size: 0.764706rem;
		text-align: right;
		justify-content: flex-end;
		line-height: 1.11176rem;
		
	}
	&__col {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	&__nav {
		display: flex;
		flex-direction: column;
		&-item {
			line-height: 17px;
		}
		&-wrap {
			align-items: baseline;
		}
	}
	&__sign {

		&-title {
			max-width: 15.4706rem;
			margin-bottom: 0.588235rem;
		}
		&-wrap {
			justify-content: space-between;
			align-items: center;
			text-align: center;
			margin-top: -7px;
		    position: absolute;
		    top: 57px;
		    left: calc(50% - 263px/2);
		    bottom: 44px;				
		}
		&-button {
			max-width: 15.4706rem;
		}
		&-input {
			max-width: 15.4706rem;
			text-align: center;
			color: $gray-1;
			border-bottom: 1px solid;
			width: 100%;
			padding-bottom: 6px;
			&:focus::-webkit-input-placeholder { color:transparent; }
		}
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $gray-2;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: $gray-2;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: $gray-2;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: $gray-2;
	}	

}
.foundation-project__item-title--mobile {
	display: none;
}
.moved {
	margin: 24px 0;
	margin-left: 0;
}
.gallery {
	&__text {
		max-width: 500px;
	}
	&__desc-wrap {
		margin-bottom: 52px;
	}
	&__date {
		font-size: 16px;
		margin-top: 38px;
		margin-bottom: 25px;
		font-size: 0.764706rem;
	}
	&__desc {
		font-size: 28px;
	}
	&__item-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		&:after {
			content: '';
			flex-basis: calc(100% / 3 - 4px);
		}
	}
	&__item {
		flex-basis: calc(100% / 3 - 4px);
		margin-bottom: 6px;
		height: 15.4vmax;
		max-height: 300px;
		position: relative;
		img {
			@extend %img;
		}
		&:after {
			content: '';
			transition: .3s;
			transition: .3s;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			background-color: #8e8e99;
			opacity: 0.3;			
		}
		&:hover {
			&:after {
				opacity: 0;
			}
		}
	}
}

.page {
	&__container {
		padding-top: 6.58824rem;
		padding-bottom: 2.23529rem;
		margin-bottom: 4.29412rem;

	}
	&__title-separator {
	    position: absolute;
	    left: 4px;
	    top: -158px;	
	    &--foundation-page {
    	    left: 26px;
	    }	
	}
}

.movie {
	&__container {
		padding: 3.52941rem 5.47059rem 5.11765rem;
		box-sizing: border-box;
		background-color: #fff;
	    margin-bottom: 4.29412rem;
	}
	&__title {
		text-align: center;
		margin-bottom: 2.11765rem;
	}
	&__image-wrap {
		iframe {
			height: 645px;
			width: 100%;	
			margin-bottom: 3.52941rem;
		}
	}	
	&__image {
		width: 100%;
		height: auto;
		
		&-link {
			position: relative;
			display: flex;
			.button__arrow {
				position: static;
				margin-left: 0.470588rem;
			}
		}
	}	
	&__image-text-wrap {
		display: flex;
		justify-content: space-between;
	}	
	&__image-text-col {

	}
	&__content {
		margin: 0 auto;
		width: 100%;
		max-width: 640px;
		margin-top: -1.52941rem;
		&-image-wrap {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 4.29412rem;
		}
		&-image {
			&--top {
				margin-bottom: 1.64706rem;
			}
		}
	}


}

.foundation-project {
	&__item {
		margin: 0 55px;
		margin-bottom: 2.94118rem;
		height: 300px;
		background-color: #fff;
		box-sizing: border-box;
		display: flex;
		position: relative;
		&:hover {
			.foundation-project__item-title {
				color: $blueHover
			}
		}
		&:last-of-type {
			margin-bottom: 4.29412rem;
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			height: 100%;
			z-index: 0;
			bottom: 0;
			width: 125px;
			background-color: $bg-color;			
		}
		&-image-wrap {
			z-index: 1;
			width: 100%;
			max-width: 422px;
		}
		&-image {
			margin-top: -30px;
			@extend %img;
		}
		&-text {
			max-width: 620px;
			width: 100%;
			margin: 0 auto;
			margin-top: 77px;
		}
		&-title {
			color: $blue;
			font-size: 1.64706rem;
			margin-bottom: 2.35294rem;
		}
		&-desc {

		}

	}

}


.related-news {
	;
	&__title {
		margin-bottom: 10px;
		font-size: 1.05882rem;
	}
}

#mc_embed_signup, #mc-embedded-subscribe-form,  {
	height: 100%;
}
#mc_embed_signup_scroll{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;	
}

.footer__sign-input {
    font-size: 0.9rem;
}