// common elements

.container {
	box-sizing: border-box;
	margin: 0 55px;
	padding: 0 7rem;
	&--gray {
		background-color: $gray-4;
	}
}

.title-h4, .title-h2, .title-usual, .link-2, .menu-item, .button{
	font-family: f_font;
	text-transform: uppercase;	
}

.title-h1 {
	font-size: 1.64706rem;
	line-height: 3.31765rem;
} 
.title-h2 {
	font-size: 4.47059rem;
	line-height: 7.41176rem;
	letter-spacing: -0.0558824rem;
	color: #fff;
}
.title-h4 {
	font-size: 2.11765rem;
	line-height: 2rem;
	color: $gray-2;
}
.title-usual {
	font-size: 1.05882rem;
	line-height: 2rem;
	color: $gray-2;
}
.small-text {
	line-height: 1.11176rem;
	font-size: 0.764706rem;
	color: $gray-3;
}
.link-1 {
	border-bottom: 2px solid $blue;
	&:hover {
		color: $blue;
	}
}
.link-2 {
	letter-spacing: 0.0941176rem;
	font-size: 0.647059rem;
	color: $blue;
	&:hover {
		color: $blueHover;
	}
}

.menu {
    z-index: 10;
    position: fixed;
    left: 0;
    bottom: 0;
    // right: 0;

    // max-width: 27.9412rem;
    // width: 100%;    
    top: 0;
    &--open {
    	.menu__nav {
    		transform: translateX(0);
    	}
    	.menu__icons svg, .header__title {
			color: $gray-4;
			stroke: $gray-4;
			opacity: 1 !important;
    	}
    }
	&__icons {
		position: absolute;
		left: 13px;
		top: 34px;
		width: 30px;
		height: 14px;
		cursor: pointer;
		transition: none;
		z-index: 1;
		svg {
			stroke: $gray-2;
		}
		&:hover {
			opacity: .8;
		}
	}
	&__icon-item-close {
		margin-top: 3px;
		margin-left: 5px;
		svg {
			width: 18px;
		}		
	}
	&-item {
		font-size: 2.11765rem;
		line-height: 2rem;
		color: $gray-4;
		cursor: pointer;
		&:last-of-type {
			margin-bottom: 5.05882rem;
		}
		&:hover {
			color: #fff;
		}
	}	
	&__nav {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: $gray-2;
	    width: 27.9412rem;
	    // width: 100%;
	    height: 100vh;		
	    z-index: 0;
	    transition: 0.5s;
	    will-change: transform;
	    box-sizing: border-box;
	    padding-top: 7rem;	    
	    padding-left: 2.41176rem;
	    transform: translateX(-100%);
	    background-color: $gray-2;
	    // &:after {
	    // 	content: '';
	    // 	position: absolute;
	    // 	left: -49.5vw;
	    // 	top: 0;
	    // 	bottom: 0;
	    // 	background-color: $gray-2;
	    // 	width: 50vw;

	    // }
	}
}

.nav {
	&__social {
			display: flex;
		&-link {
			margin-right: 0.705882rem;
			svg {
				width: 30px;
				height: 30px;				
			}
		}
	}	
}
.button {

// html
// <a  class="button" href="">
// 	next
// 	<span class="button__arrow" v-html="btn_arrow"></span>
// </a>

	color: $blue;
	padding: 1.17647rem 4.41176rem 0.88rem;
	box-sizing: border-box;
	display: inline-flex;
	font-size: 0.647059rem;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	box-shadow: 0px 23px 20px -18px rgba(0, 0, 0, 0.13);
	position: relative;
	letter-spacing: 0.0941176rem;
	cursor: pointer;
	transition: 0.3s;
	&__arrow {
		display: block;
		position: absolute;
	    top: 20px;
	    right: 32px;
	    transition: 0.3s;
		svg {
			width: 8px;
			height: 8px;
		}
	}
	&:hover {
		color: $blueHover;
		box-shadow: 0px 23px 35px -18px rgba(0, 0, 0, 0.2);
		.button__arrow {
			transform: translateX(4px);
		}
	}
}

