.wrapper-header {
	height: 100vh;
	width: 100%;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background-color: $bg-color;
		transition: .5s;
		opacity: 0;
		// transform: scaleY(0);
		// transform-origin: -100% 100%;
	}
	
	&--close {
		.header__logo {
			transition-delay: 1s;
			transition: .2s;
			opacity: 0;
		}
		&:before {
			// transform: scaleY(1);
			opacity: 1;
			// transition: 1.5s linear;

		}
	}	
}
.wrap-f-title {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
}
.header {
	box-sizing: border-box;
	padding: 5.52941rem 8.70588rem 0;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	z-index: -1;

	&__empty-block {
		height: 8.23529rem;
		margin-top: 5rem;
	}

	&__title {
		position: absolute;
		top: 30px;
		left: 8.70588rem;
		transition: .3s;
		z-index: 11;
		&--change-color {
			color: $gray-4;
			opacity: 1 !important;		
		}

	}
	&__image-wrap {
		width: 100%;
		flex: 1;
		position: relative;
		display: flex;
		align-items: center;
		overflow: hidden;
	}
	&__image {
		position: absolute;
		left: 0;
		top: 0;
		@extend %img;
	    height: calc(100% + 20vmax);
        max-height: 1045px;
		z-index: -1;
	}
	&__logo {
		width: 100%;
		margin: auto;
		svg {
			width: calc(100% + 7px);
		}
	}
	&__bottom-block-wrapper {
		padding: 0 8.70588rem;
		box-sizing: border-box;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;				
		&--static {
			position: static;
			padding: 0;
			position: relative;
			top: 11px;
		    max-width: 268px;
		    margin: 0;
		    margin-right: auto;	
	        // margin-left: -2px;	
	        .header__bottom-block {
	        	&-title:last-of-type, &-scroll {
	        		opacity: 0;
	        	}
	        }    

		}		
	}
	&__bottom-block {
		padding-left: 1.17647rem;
		border-left: 2px solid transparent;
		position: relative;
		padding-bottom: 23px;
		&:after {
			content:'';
			position: absolute;
			width: 2px;
			background-color: $gray-4;
			top: 0;
			left: -3px;
			bottom: -80px;
		}
		&-title {
			color: $gray-4;
			margin-bottom: 0.235294rem;
			transition: 0.2s;
			display: inline-block;
			transition: none;
			&:hover {
				color: $gray-2;
			}
		}
		&-scroll {
			margin-top: 1.58824rem;
			transition: 0.2s;
		}
	}

}