// import reset
@import 'reset';

// import fonts
@import 'fonts';

// import common style elements
@import 'elements';

// import settings
@import 'settings.scss';

// base stylesheet
html {
	font-size: 17px;
}
body {
	font-family: a_font;
	font-weight: normal;
	// display: flex;
	min-height: 100vh;
	width: 100vw;
	position: relative;
	-webkit-font-smoothing: antialiased;
	position: relative;
	background-color: red;
	overflow-x: hidden;
}