.separate-block {
	display: flex;
	justify-content: flex-end;
    padding: 0 8.70588rem;
	margin-bottom: 2.47059rem;
	padding-top: 5rem;
	z-index: 0;
	position: relative;
	background-color: $bg-color;
	&__right-side {

	}
	&__text {
		max-width: 21rem;
	}
}

.world-section {
	position: relative;
	padding-top: 7.76471rem;
	padding-bottom: 7.29412rem;
	margin-bottom: 11.4706rem;
	&__button { 
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			height: 2px;
			background-color: $bg-color;
			z-index: 1;
			top: calc(50% - 2px);
			left: -50vw;
			width: 50vw;
		}
	}
	&:before {
	    content: '';
	    background-color: #f8f8f8;
	    left: 0;
	    top: -3em;
	    right: 0;
	    position: absolute;
	    bottom: -300px;
	    z-index: -1;
	}	
}

.common-block {
	display: flex;
	width: 100%;
	position: relative;
	flex-direction: column;
	align-items: baseline;

	&__title {
		position: absolute;
	    left: -1.82353rem;
	    top: -3.94118rem;
	    z-index: 1;
	}
	&__item-wrap {
		display: flex;
		margin-bottom: 1.29412rem;
		width: 100%;
		&-for-page {
			flex-wrap: wrap;
			justify-content: space-between;
			&:after {
				content: '';
				flex-basis: calc(100% / 3 - 4px);
			}
		}
	}
	&__item {
		flex-basis: calc(100% / 3);
		display: flex;
		flex-direction: column;
		margin-right: 0.352941rem;
		&:hover {
			.common-block__item-image {
				img {
					// transform: scale(1.05);
				}
				&:after {
					opacity: 0;
				}
			}
		}
		&:last-of-type {
			margin-right: 0;
		}
		&-image {
		    height: 15vmax;
		    max-height: 240px;
		    position: relative;
		    margin-bottom: 0.882353rem;
		    overflow: hidden;
		    
		    &:after {
				@extend %image-opacity;		    	
		    }
			img {
				transition: .3s;
				@extend %img;
			}
		}
		&-desc {
			padding-right: 30px;
		}
		&-for-page {
			margin-right: 0;
			flex-basis: calc(100% / 3 - 4px);
			margin-bottom: 2.35294rem;

		}
	}
	&__button {

	}


	// used sections
	&_news {
		margin-bottom: 3.41176rem;
		&-item-for-page {
		    margin-bottom: 7.31176rem;
		}
	}
	&_instagram {
		.common-block__item {
			flex-basis: calc(100% / 4);
			margin-right: 0.117647rem;
			&-image {
				height: 100%;
				max-height: 311px;				
			}
			&:hover {
				.common-block__item-image {
					img {
						transform: none;
					}
				}
			}
			&-wrap {
				height: 17vmax;
			}			
		}
	}
	// ----------------	
} 

.foundation {
	display: flex;
	width: 100%;
	flex-direction: column;
	position: relative;
	align-items: baseline;
	// NO-bem
	margin-bottom: 9rem;
	&__title {
		position: absolute;
		top: calc(50% - 125px/2);
		left: 66%;
		z-index: 1;
		pointer-events: none;
	}
	&__text-wrap {
		width: 70%;
		margin-left: auto;	

	}
	&__text {
		margin-bottom: 1.94118rem;
	}
	&__image {
		cursor: default;
		width: 50%;
		height: 20vmax;
		max-height: 315px;
		position: relative;
		margin-bottom: 2.64706rem;
		&:after {
			@extend %image-opacity;
			cursor: pointer;
		}
		img {
			@extend %img;
		}
		&:hover {
			&:after {
				opacity: 0;
			}			
		}
	}
}


.arts-section {

	&--works {
		padding-top: 113px;
		.arts-section__title {
		    margin-bottom: 3.15882rem;
		}
	}
	&__container {
		padding-top: 8.70588rem;
		padding-bottom: 9.88235rem;
		margin-bottom: 4.29412rem;
	}
	&__item {
		margin-bottom: 9.52941rem;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			height: 100%;
			z-index: 0;
			bottom: 0;
			width: 125px;
			background-color: $gray-4;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&__item-reverse {
		margin-bottom: 9.52941rem;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: auto;
			right: 0;
			height: 100%;
			z-index: 0;
			bottom: 0;
			width: 125px;
			background-color: $gray-4;
		}

	}	
	&__top-separator {
		display: flex;
	}

	&__title {
		color: $gray-4;
		padding-left: 1.41176rem;
		border-left: 2px solid transparent;
		position: relative;
		left: -1.70588rem;
		display: inline-block;
	    margin-bottom: 6.05882rem;
	    // &:hover {
	    // 	color: $gray-2;
	    // }

		&:after {
			content:'';
			position: absolute;
			width: 2px;
			background-color: $gray-4;
			top: 0;
			left: 0;
			bottom: -180px;
		}	
	    &--cat-page {
	    	&:after {
	    		background-color: #fff;
	    		z-index: -1;
	    	}
	    }			
	}
}
.arts-block {
	&__title-wrap {
		flex-basis: 50%;
	}

	&__right-col {
		flex-basis: 50%;
	}
	&__links-wrap, &__category-desc-wrap {
		display: flex;
		flex-direction: column;
		align-items: baseline;
	    width: 56%;
	    margin: auto;		
	}
	&__category-desc {
		margin-left: -24px;
	}
	&__link-item {
	 	margin-left: -24px;   
		font-family: f_font;
		color: $blue;
		font-size: 0.647059rem;
		text-transform: uppercase;
		letter-spacing: 0.0941176rem;
		line-height: 17px;
		display: inline-block;
		cursor: pointer;
		&:hover {
			color: $blueHover;
		}
	}
}
.art-item {
	background-color: #F8F8F8;
	display: flex;
	height: 38.5vmax;
	max-height: 36.9412rem;	
	cursor: default;
	&__image {
		height: 100%;
		flex-basis: 50%;
		cursor: pointer;
		position: relative;
		z-index: 1;
		// &:after {
		// 	content: '';
		// 	-webkit-transition: .3s;
		// 	transition: .3s;
		// 	position: absolute;
		// 	margin-top: -1.35294rem;
		// 	left: 0;
		// 	top: 0;
		// 	height: 100%;
		// 	right: 0;
		// 	background-color: #8e8e99;
		// 	opacity: 0.3;			
		// }		
		img {
			z-index: 1;
			margin-top: -1.35294rem;
			transition: .3s;
			@extend %img;
		}
		// &:hover {
		// 	img {
		// 		filter: brightness(120%)
		// 	}
		// 	// &:after {
		// 	// 	opacity: 0;
		// 	// }
		// }
	}
	&__text-wrap-inner {
		padding: 6.5rem 0 2.23529rem;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: baseline;	
		height: 100%;	
		width: 56%;
		margin: auto;
	}
	&__text {
		flex-basis: 50%;
		display: flex;
	}
	&__button {
		margin-top: auto;
	}
	&__desc {
	    margin: auto;
	}
	&__title-wrap {
		padding-bottom: 3.64706rem;
		position: relative;
		// margin-bottom: 32px;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 2px;
			width: 4.05882rem;
			background-color: $gray-4;
		}
	}
	&__title {
		margin-left: -24px;
	}	
}