// variables

$blue: #58a2da;
$blueHover: #83bbe4;

$gray-1: #676779;
$gray-2: #9696aa;
$gray-3: #626275;
$gray-4: #e2e5ee;

$bg-color: #f8f8f8;

// mixins
%image-opacity {
	content: '';
	transition: .3s;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #8e8e99;
	opacity: 0.3;

}

%img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
